#Board {
    padding-top: 55%;
    width: 55%;
    position: relative;
    box-shadow: 5px 10px 10px 3px rgba(0, 0, 0, 1);
    background-image: url(/images/frame.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#Board .Content {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 16px;
}

#Board .row {
    display: flex;
}

#Board .strip {
    position: absolute;
    display: flex;
}

#Board .strip#FileStrip {
    height: 25px;
    width: 95%;
    background-color: bisque;
    top: -25px;
    left: 2.5%;
    flex-flow: row;
    border-radius: 5px 5px 0 0;
    border: 2px solid darkgoldenrod;
    box-shadow: 5px 0px 10px 0px rgba(0, 0, 0, 0.5), 2px 2px 4px 0px rgba(0, 0, 0, 0.8) inset;
}

#Board .strip#FileStrip .File {
    width: 12.5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
}

#Board .strip#RankStrip {
    height: 95%;
    width: 25px;
    background-color: bisque;
    top: 2.5%;
    left: -25px;
    flex-flow: column;
    border-radius: 5px 0 0 5px;
    border: 2px solid darkgoldenrod;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5), 2px 2px 4px 0px rgba(0, 0, 0, 0.8) inset;
}

#Board .strip#RankStrip .Rank {
    height: 12.5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
}